/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
    cursor: pointer;
    color: #3f51b5;
    text-decoration: none;
}
  
a:hover {
    opacity: 0.8;
}

h1 {
    font-size: 32px;
    font-weight: lighter;
}

app-title-bar {
    width: 100vw;
    background-color: #3f51b5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-title-bar h1 {
    color: white;
    margin: 16px;
}

.container {
    padding: 0;
}